@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 100vh;
  background: linear-gradient(45deg, rgba(71, 90, 198, 1) 0%, rgba(122, 89, 193, 1) 50%, rgba(186, 88, 191, 1) 100%);
}

div.simple-content {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 32px;

  & .table-container {
    max-height: 630px
  }
}

a {
  color: #222;
}

hr {
  margin: 0 6px;
}

i {
  font-size: 18px;
}

.content {
  max-width: 75%;
  width: 780px;
  padding: 40px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: white;
  border-radius: 16px;
}

.menu {
  text-align: center;
  border-radius: 9999px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

  & i {
    font-size: 24px;
  }

  &:hover .menu-content {
    transition: max-height 1s;
    max-height: 600px;
  }
}

.menu-icon {
  margin: 24px;
}

.menu-content {
  list-style-type: none;
  overflow: hidden;
  max-height: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  transition: max-height 0.6s;

  & li {
    transition: background 0.3s;
    cursor: pointer;
    padding: 0 6px;
    margin: 8px 0;
    font-weight: 600;
    transition: 0.4s;
    font-size: 10px;
  }

  & li:hover {
    background: linear-gradient(90deg, rgba(71, 90, 198, 1) 0%, rgba(122, 89, 193, 1) 50%, rgba(186, 88, 191, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & li:last-child {
    margin-bottom: 24px;
  }
}

form {
  display: grid;
  gap: 16px;
  text-align: center;
}

input {
  outline: none;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  border-radius: 99999px;
  height: 48px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
}

button {
  /* background: linear-gradient(315deg, rgba(71, 90, 199, 1) 0%, rgba(117, 89, 195, 1) 50%, rgba(186, 88, 190, 1) 100%); */
  background-color: #30a14e;
  color: white;
  height: 48px;
  padding: 0 18px;
  border-radius: 99999px;
  border: none;
  cursor: pointer;
}

.icon-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  & i {
    position: absolute;
    left: 20px;
    z-index: 2;
  }

  & input {
    padding-left: 48px;
  }
}

.edit {
  height: fit-content;
  gap: 16px;
  display: grid;
  text-align: start;

  & input {
    margin-right: 12px
  }
}

.forms {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 32px;

  & form {
    width: 100%;
  }
}

h4 {
  font-weight: 600;
}

.rwd-table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

thead {
  position: sticky;
  top: 0;
}

.table-container {
  max-height: 430px;
  overflow-x: auto;
  width: 100%;
}

.rwd-table th {
  color: #374151;
  font-weight: 700;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
  background: #f9fafb;
  padding: 1rem 1rem;
  text-align: start;
}

.rwd-table td {
  padding: 1rem 1rem;
  border: 1px solid #e5e7eb;
  border-width: 0 0 1px 0;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 60px;
  border-radius: 16px;
  border: 2px dashed rgba(122, 89, 193, 1);
  opacity: 0.6;
  transition: .3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  & i {
    font-size: 42px;
  }

  & span {
    font-weight: 500;
    opacity: 0.6;
  }
}

/* @media (max-width: 960px) {
  main {
    flex-direction: column-reverse;
  }

  .menu, .menu-content {
    flex-direction: row;
  }
} */