@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  height: 100vh;
  background: linear-gradient(45deg, rgba(71, 90, 198, 1) 0%, rgba(122, 89, 193, 1) 50%, rgba(186, 88, 191, 1) 100%);
}

a {
  color: #222;
}

hr {
  margin: 0 6px;
}

i {
  font-size: 18px;
}

.content {
  max-width: 85%;
  width: 860px;
  height: 580px;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: white;
  border-radius: 16px;
}

.menu {
  text-align: center;
  border-radius: 9999px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

  &:hover .menu-content {
    transition: max-height 1s;
    max-height: 600px;
  }
}

.menu-icon {
  margin: 24px;
}

.menu-content {
  list-style-type: none;
  overflow: hidden;
  max-height: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  transition: max-height 0.6s;

  & li {
    transition: background 0.3s;
    cursor: pointer;
    padding: 0 6px;
    margin: 8px 0;
    font-weight: 600;
    transition: 0.4s;
    font-size: 10px;
  }

  & li:hover {
    background: linear-gradient(90deg, rgba(71, 90, 198, 1) 0%, rgba(122, 89, 193, 1) 50%, rgba(186, 88, 191, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & li:last-child {
    margin-bottom: 24px;
  }
}

form {
  display: grid;
  gap: 16px;
  text-align: center;
}

input {
  outline: none;
  border: none;
  background-color: #e6e6e6;
  border-radius: 99999px;
  height: 48px;
  color: #666;
  font-size: 14px;
  font-weight: 500;
  padding: 0 18px;
}

button {
  /* background: linear-gradient(315deg, rgba(71, 90, 199, 1) 0%, rgba(117, 89, 195, 1) 50%, rgba(186, 88, 190, 1) 100%); */
  background-color: #30a14e;
  color: white;
  height: 48px;
  padding: 0 18px;
  border-radius: 99999px;
  border: none;
  cursor: pointer;
}

.icon-input {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  & i {
    position: absolute;
    left: 20px;
    z-index: 2;
  }

  & input {
    padding-left: 48px;
  }
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: .5em;
}

.rwd-table td:last-child {
  padding-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

@media (min-width: 480px) {

  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100vh;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table,
.edit {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}

.edit {
  padding: 100px;
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rwd-table tr {
  border-color: #46637f;
}

.rwd-table th,
.rwd-table td {
  margin: .5em 1em;
}

@media (min-width: 480px) {

  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

.rwd-table th,
.rwd-table td:before {
  color: #dd5;
}

/* @media (max-width: 960px) {
  main {
    flex-direction: column-reverse;
  }

  .menu, .menu-content {
    flex-direction: row;
  }
} */